/* 전체적인 세팅 */
*{
    box-sizing: border-box; 
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0; /* 여백 제거 */
}
.container{
    height: 100%;
    background-color: rgb(192, 228, 195);
}

/* 스크린 크기 조정 */
.chat-screen{
    height: calc(100% - 120px); /* 내가 속한 전체 영역에서 쓸 만큼의 공간만 빼겠다는 속성태그 */
}

/* 유저 정보 표시 */
.user{
    background-color: #FFFFFF;
    padding: 16px;
    height: 80px;
}

.user__column{
    float: left;
}

.user__pic{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(192, 228, 195);
}

.user__nick, .user__count{
    margin: 5px;
}

.user__count{
    font-size: 12px;
    color: gray;
}

.chat-form{
    height: 120px;
    background-color: #FFFFFF;
}

.chat-form__field{
    height: 120px;
}

.chat-form__msg{
    float: left;
    width: calc(100% - 120px);
    height: 120px;
    border: none;
    resize: none;
    font-size: 24px;
    padding: 10px;
}

.chat-form__bt{
    float: right;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: rgb(192, 228, 195);
    font-size: 18px;
}

.chat-form__msg:focus{
    outline: none;
}

.chat-form__bt:active{
    background-color:rgb(109, 165, 146);
}
